.btn {
  border-radius: 78px;
  color: white;
  font-weight: 500;
  &-red {
    background-color: $red;
    &:hover {
      background-color: #fa3137;
      transition: all 0.2s ease-in;
    }
  }
  &-yellow {
    background-color: $yellow;
  }
  &-black {
    color: white !important;
    background-color: black !important;
  }
  &:hover {
    color: white;
  }
}
