@font-face {
  font-family: "Clash Display";
  font-weight: 300;
  src: url("fonts/Clash\ Display/ClashDisplay-Light.otf");
}
@font-face {
  font-family: "Clash Display";
  font-weight: 400;
  src: url("fonts/Clash\ Display/ClashDisplay-Regular.otf");
}
@font-face {
  font-family: "Clash Display";
  font-weight: 500;
  src: url("fonts/Clash\ Display/ClashDisplay-Medium.otf");
}
@font-face {
  font-family: "Clash Display";
  font-weight: 600;
  src: url("fonts/Clash\ Display/ClashDisplay-Semibold.otf");
}
@font-face {
  font-family: "Clash Display";
  font-weight: 700;
  src: url("fonts/Clash\ Display/ClashDisplay-Bold.otf");
}

@font-face {
  font-family: "Druk Wide Bold";
  font-weight: 700;
  src: url("fonts/Druk\ Wide\ Bold/Druk Wide Bold.ttf");
}
